{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <link rel="icon" type="image/x-icon" href="static/tick1.png"/>  
    <body>
      <div class="background"></div>       
          <h2>Login Form</h2>
          <form action="" method="POST">
  
              <div class="form-item">
                  <span class="material-icons-outlined">
                      account_circle
                  </span>
                  <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter email"
                  />
              </div>
  
              <div class="form-item">
                  <span class="material-icons-outlined">                   
                      lock
                  </span>
                  <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Enter password"
                  />
              </div>
  
              <button type="submit"> LOGIN </button>
              <p>New User? <a href="/sign-up">Create an account</a></p>
          </form>
        
      </div>
  
    </body>
{% endblock %}